#team {
    background: #e9ecef  !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #17a2b8;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}



.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 250px;
}

.frontside .card-body > i{
  color: #212529;
}

.backside .card a {
    font-size: 18px;
    color: #17a2b8 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #17a2b8 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}